@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

html {
    font-size: 16px;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#logo img {
    height: 4rem;
}

#logo p {
    font-size: 2rem;
    margin: 0 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

#header-logo {
    align-items: center;
}

#header-logo img {
    height: 3rem;
}

#header-logo h1 {
    margin-left: 1rem;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: flex-end;
    /* width: 100%; */
    /* border: green 1px solid; */
}
#btns {
    /* border: red 1px solid; */
    /* gap: 1rem; */
    width: 20%;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

#btns button {
    background-color: #205B99;
    border: none;
    border-radius: 2rem 0 0 2rem;
    /* margin-top: 2rem; */
    color: #FFFFFF;
    width: 90%;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;

}

#btn-image-new {
    margin-bottom: -3.8rem;
    margin-left: -0.6rem;
    width: 4rem;
    cursor: pointer;

}

#btn-image-remove {
    margin-bottom: -3.75rem;
    margin-left: -0.4rem;
    width: 3.5rem;
    cursor: pointer;

}

#btn-image-export {
    margin-bottom: -3.75rem;
    margin-left: -1rem;
    width: 4.2rem;
    cursor: pointer;

}

#btn-image-help {
    margin: 0 25rem -2.7rem 0;
    /* margin-bottom: -1rem;
    margin-left: 1rem; */
    width: 3rem;
    cursor: pointer;

}


table {
    /* width: 15%; */
    /* display: flex; */
    width: 70%;
    justify-content: flex-end;

    border: green 1px solid;
    border-collapse: collapse;
    margin: 2rem;
}

th, td {
    padding: 1rem;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;

}

th {
    background-color: #205B99;
    color: #FFFFFF;
    font-weight: 800;
}


tr:hover {
    background-color: #525252;
}

.btn-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#chat-button {
    background-color: #205B99;
    color: #FFFFFF;
    border: none;
    /* padding: 1rem; */
    /* font-size: 1rem; */
    /* border-radius: 50%; */
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#chat-container {
    width: 25rem;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.8rem 0 0 0;

}

#chat-container img {
    z-index: 1;
}

#chat-container h2 {
    font-size: 0.9rem;
    text-align: center;
    width: 375px;
    background-color: #205B99;
    padding: 1rem 2.3rem;
    color: #FFFFFF;
    margin: -0.3rem;
    border-radius: 1.8rem 0 0 1.8rem;
}

/* .hidden {
    display: none;
} */

.chat-box {
    border-radius: 1.8rem 0 0 0;
    height: 70px;
    /* background-color: #f0f0f0;
    border: 1px solid #ccc; */
    /* overflow-y: auto; */
    padding: 1rem;
    /* border-radius: 5px; */
    /* margin-bottom: 1rem; */
}

.chat-input {
    display: flex;
    width: 100%;
}

.chat-input input {
    flex-grow: 1;
    /* padding: 0.5rem; */
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    text-indent: 1rem;
}

.chat-input button {
    padding: 0.5rem 1rem;
    background-color: #205B99;
    color: #FFFFFF;
    border: none;
    /* border-radius: 0 5px 5px 0; */
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #174a74;
}