@media (max-width: 768px) {
    body {
        background-size: auto;
        background-color: #FFFFFF;
        background-image: none;
    }

    main {
        width: 100vw; /* Ajusta a largura para se ajustar melhor a dispositivos móveis */
        height: auto; /* Permite que o conteúdo se expanda conforme necessário */
        padding: 2rem; /* Adiciona um pouco de espaçamento interno */
    }

    #logo {
        margin: 1rem; /* Reduz a margem superior para telas menores */
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza o logo e o texto */
    }

    #logo img {
        max-width: 100%; /* Ajusta o tamanho do logo para não ocupar muito espaço */
        height: 7rem;
        
    }
    #logo p {
        margin: 1rem;
        font-size: 2rem;
    }

    .field {
        flex-direction: column; /* Alinha os campos verticalmente */
        gap: 1rem; /* Reduz o espaçamento entre os campos */
    }

    form input[type="text"],
    form input[type="password"] {
        width: 100%; /* Faz os campos de entrada preencherem a largura disponível */
        padding: 0.75rem; /* Ajusta o preenchimento para se adequar melhor */
        border: 1px solid #000000; /* Diminui a espessura da borda */
    }

    input[type="submit"] {
        width: 10rem; /* Faz o botão de enviar preencher a largura disponível */
        padding: 1rem;
        margin-left: 1rem;
        font-size: 1rem; /* Ajusta o tamanho da fonte para uma tela menor */
    }

    .agree {
        width: 100%;
        font-size: 0.75rem;   
        margin-left: 0.75rem;
    }

    .no-account {
        margin-top: 1rem; /* Ajusta a margem superior */
        font-size: 0.9rem; /* Ajusta o tamanho da fonte para uma tela menor */
    }
}